@import '{}/client/lib/all';

html{
  height: 100%;
}

body {
	height: 100%;
	margin: 0;
  padding: 0;
	font-size: 14px;
	line-height: 1.2;
	background: #00b4ff;
	color: white;
  font-family: 'Covered By Your Grace', cursive;
	overflow-x: hidden;
}

button{
  font-family: 'Covered By Your Grace', cursive;
  color: white;
}

main{
  position: relative;
  overflow-x: scroll;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a{
  color: white;
  &:visited{
    color: white;
  }
}
