<template name="registrationForm">
  {{#form class="registrationForm"}}
    <label for="Username">Come ti chiami?</label>
    <input
      type="text"
      label="Username"
      name="username"
      required="required"
    />
    <label for="Email">Che indirizzo elettronico hai?</label>
    <input
      id="Email"
      type="email"
      name="email"
      required="required"
    />
    <label for="Email">Scegli una parola segreta</label>
    <input
      type="password"
      id="Password"
      name="password"
      required="required"
    />
    <footer>
      <button type="submit" class="Button">Entra</button>
    </footer>
  {{/form}}
</template>
