@import '{}/client/lib/all';

.form{
  label{
    display: block;
    margin-bottom: 5px;
  }

  input{
    border: 1px solid white;
    display: block;
    background: none;

    & + label{
      margin-top: 12px;
    }
  }
}
