@import '{}/client/lib/all';

.header{
	z-index: 3;
	position: relative;
  padding: 5px 0;
  .createBubbleButton{
    position: absolute;
    right: 15px;
    top: 30px;
  }
  h1 {
    margin: 0;
    color: white;
    display: block;
    text-align: center;
    font-family: 'Bonbon', cursive;
    font-size: 62px;
    @media only screen and (max-width: 600px) {
      font-size: 22px;
    }
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 0 20%;
  }
	&_access{
		height: $HeaderHeight;
		line-height: $HeaderHeight;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 18px;
		a{
			font-weight: bold;
		}
	}
}
