<template name="header">
	<header class="header">
		<div class="header_content">
			{{#unless loggingIn}}
        <div class="header_access">
  				{{#if currentUser}}
  					<button modal="currentUserModal">{{currentUser.username}}</button>
  				{{else}}
  					<button modal="accessModal">Accedi</button>
  				{{/if}}
        </div>
			{{/unless}}
      <h1>BolleDiParole</h1>
      {{#if currentUser}}
        <button class="createBubbleButton" modal="createBubbleModal">Soffia bolla</button>
      {{/if}}
		</div>
	</header>
</template>
