@import '{}/client/lib/all';

.bubbles{
  &_backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
  }
  &_center{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &_wrap{
    position: absolute;
    transition: left 2s, top 2s;
  }
}
